h1 {
    margin-top: 0;
    text-align: center;
    color:lightcoral;
}
form {
    margin:auto;
    width: 450px;
    padding: 0.1em;
    border-style: groove;
    border-color: black;
    border-radius: 1em;
    background-color: black;
    color: white;
}
div+div {
    margin-top: 1em;
}
label span {
    display: inline-block;
    width: 120px;
    text-align: left;
    color: white;
}
label abbr, p abbr {
    color: red;
}
p{
    color: white;
}
input, textarea {
    font: 1em sans-serif;
    width: 250px;
    box-sizing: border-box;
    border: 1px solid #999;
}
input:focus, textarea:focus {
    border-color: #000;
}
textarea {
    vertical-align: top;
    height: 3em;
    resize: vertical;
    width: 300px;
}
#qualification{
    width: 450px;
    box-sizing: border-box;
    margin-left: 0px;
    border: 1px solid #999;
    color: white;
    height: 160px;
    padding-top: 0px;
}
label {
  position: relative;
}
label em {
  position: absolute;
  right: 5px;
  top: 20px;
}
select{
    border-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.label_handle label span{
    width: auto;
}
.degree_class label span{
    width: 150px;
}
.query label span {
    width:auto
}
.radio_setting{
    margin-top: 7px;
    margin-left: -13px;
}
.radio_setting label span{
    width:70px;
}
.radio_setting input {
    margin-right: -7px;
    margin-top: 6px;
}
.query textarea{
    width:350px
}
input.radio {
    width: 30px;
}
.block{
    display: block;
    width: 100%;
    border: none;
    border-radius: 2px;
    background-color:lightcoral;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
#position{
    width: 450px;
    box-sizing: border-box;
    margin-left: 0px;
    border: 1px solid #999;
    color: white;
    height: 130px;
    padding-top: 10px;
}
.positionspan label span{
    width:130px;
}
#current_post {
    margin-top: 4px;
    margin-left: 2px;
} 
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: black;
    color: wheat;
}
ul li.active a{
    background-color: black;
    color: wheat;
}

.logo img{
    float:left;
    height: auto;
    width: 150px;
}
.main{
    background-image:url(../image/background.jpg) ;
    height: auto;
    background-size: cover; 
    background-position:center;
}
